<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name">
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="email">E-mail</label>
    <input type="text" name="email" id="email" [(ngModel)]="register.email">
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" [(ngModel)]="register.password">
    <p>Mensajes de error</p>
  </div>
  <!--¿Cómo evitamos que se registre si no ha llenado todos los campos? Deshabilitando el botón si el registro no es válido-->
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Acción</button>
</form>
<hr/>


<h1>NgClass & NgStyle</h1>
<h1>Class & Style</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }"
/>
<p class="message-error" [class.invalid]="nameInput4.invalid" >El campo es requerido</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <!--Cuando tenemos muchos estilos podemos usar en ngStyle-->
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }" >
    </div>
  </div>
</div>

<hr/>

<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput2.invalid" >El campo es requerido</p>
<label for="">Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto texto texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar"/>
  </div>
</div>
<hr/>

<h1>ngSwitch</h1>
<!--Utilizamos ngModel para escuchar la variable name de la clase Person
y creamos un switch con el valor de name donde evaluamos el nombre-->
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'abril'">La persona es Abril</p>
  <p *ngSwitchCase="'beto'">La persona es Beto</p>
  <p *ngSwitchCase="'odín'">La persona es Odín</p>
  <p *ngSwitchDefault>No hace match</p>
</div>
<!--<p *ngIf="person.name === 'abril'">
  La persona es Abril
</p>
<p *ngIf="person.name === 'beto'">
  La persona es Beto
</p>
<p *ngIf="person.name === 'odín'">
  La persona es Odín
</p> -->

<hr/>
<h1>*ngFor con Objetos</h1>
<!--Creamos una interface Product en product.model.ts para tipar la clase
  products donde creamos un array de objetos que recorremos con el for y
desplegamos el atributo de imagen, price y name. RECUERDA QUE SOLO SE PUEDEN ITERAR ARRAYS -->
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>
<hr/>


<h1>*ngFor</h1>
<ul>   <!--Estructura clásica de un for donde desplegamos los valores de un arreglo string names donde name es una variable temporal-->

  <!--Implementamos el mensaje No hay nombres cuando el arreglo names está vacio-->
  <li *ngIf="names.length === 0">No hay nombres</li>
  <!--Para obtener el índice con el número de iteraciones, puedes acceder a este número agregando al ngFor index as i-->
  <li *ngFor="let name of names; index as i">
    <!--Podemos imprir cada valor con un string interpolation-->
    {{i}} {{name}}
    <!--Implementamos el método deleteName para eliminar los registros en el array names donde i es el indice-->
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<h1>ngFor dinámico</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add Name</button>
<hr/>


<h1>*ngIf</h1>
<!--Seguimos utilizando ngModel para actualizar la variable person.name en tiempo real-->
<input type="text" required [(ngModel)]="person.name">
<!--Implementamos un ngIf: esta etiqueta P solo se mostrara si se cumple la condicion-->
<p *ngIf="person.name === 'abril'">Soy Abril</p>
<!--Implementamos un ngIf else de la siguiente manera:-->
<p *ngIf="person.name === 'quetzal' && person.age === 31; else myBlock">Soy Quetzal</p>
<!--Creamos un ng-template con algúnnombre, ej: #elseBlock, para poder implementar el else en un ngif-->
<ng-template #myBlock>
  <p>Bloque de Else</p>
</ng-template>
<hr/>

<!--Para poder utilizar ngModel debemos importar import { FormsModule } from '@angular/forms'; En app.module.ts-->
<h1>NgModel</h1>
<p>Nombre {{person.name}}</p><!--Permite el intercambio de datos de forma bidireccional entre el componente y la vista-->
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid:{{nameInput.valid}}</p>
<p>Age {{person.age}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid:{{ageInput.valid}}</p>
<hr/>


<!--"Event Binding" permite controlar los eventos-->
<h1>Eventos|| Event Binding () </h1>
<button [disabled]="btnDisabled">Enviar</button>
<!--Usamos () en el evento para indicar que vamos a llamar a un metodo de la capa de componente-->
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad: {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>
<!--Los eventos que son nativos de HTML o del DOM los enviamos con el símbolo $event-->
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt hic ducimus, pariatur ut est quam culpa voluptate tenetur, possimus porro nulla consequuntur neque dignissimos quasi inventore aliquam maxime ex eius!Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt hic ducimus, pariatur ut est quam culpa voluptate tenetur, possimus porro nulla consequuntur neque dignissimos quasi inventore aliquam maxime ex eius!</p>
</div>
<p>Nombre {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<hr/>


<!--"Property Binding funciona para controlar y y modificar las propiedades de los distinto elementos de HTML"-->
<h1>Property Binding []</h1>
<!--Usamos [] para indicar que vamos a traer el valor de una variable de la capa de componente-->
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" height="100" [src]="person.avatar" alt="">
<hr/>

<!--Con "String Interpolation" enviamos contenido de nuestro componente a la vista-->
<h1>Hola mundo con String Interpolation</h1>
<h2>{{'Hola Mundo '.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3}}</p>
<h3>Hola, soy {{name}} y tengo {{age}}</h3>
<img width="100" src= {{img}} alt="image">
